* {
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(1, 5, 13, 1);
}

header {
  /* background-color: #01050d; */
  background-color: rgba(1, 5, 13, 0.8);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 100;
  backdrop-filter: blur(3px);
  margin-top: 0.5%;
  margin-left: 15%;
  border-radius: 19px;
}
header .logo img {
  max-width: 130px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  text-decoration: none;
  color: #aaa;
  font-size: 18;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: white;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}
.search .bi-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 50px;
}
#tituloPagina {
  margin: 90px 40px 15px 40px;
  /* margin-top: 7%; */
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  padding-left: 20px;
  z-index: 999;
}
.banner {
  position: relative;
  border-radius: 8px;
  background-image: url(../assets/banner/super-mario-bros-o-filme-capa.jpeg);
  background-size: cover;
  margin: 0px 90px;
}

.gradient {
  background: rgb(1, 5, 13);
  background: linear-gradient(
    90deg,
    rgba(1, 5, 13, 1) 0%,
    rgba(210, 210, 210, 0) 90%
  );
  border-radius: 5px;
}
i {
  color: #aaa;
}

.content .bi-play-circle {
  color: #01050d;
}
.content {
  position: relative;
  width: 560px;
  height: 500px;
  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  top: 55px;
  left: 80px;
}
.content img {
  max-width: 250px;
}
.content span {
  color: white;
}
.content p {
  color: white;
  text-align: justify;
}

.content a {
  text-decoration: none;
  background: #fff;
  color: #01050d;
  width: 160px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.content a:hover {
  transform: scale(1.05);
}

.describ  span{
  margin-right: 5px;
}

.topfilmes h1 {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin: 30px 40px 15px 40px;

  padding: 20px;
}
.topfilmes span {
  color: #1a98ff;
}
.top5 {
  display: flex;
  justify-content: center;
  position: relative;
  left: -30px;
}

.topAlter h1::after {
  content: "Top 5 hoje";
}

.grade {
 margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  transform: scale(1.09);
}
.group {
  display: flex;
  transition-duration: 0.3s;
}
.group:hover {
  transform: scale(1.05);
}

.group img {
  width: 250px;
  height: 140px;
  border-radius: 8px;
  position: relative;
}

.group a {
  text-decoration: none;
}

.group p {
  color: #aaa;
  font-size: 14px;
  margin-left: 10px;
}
.group span {
  position: relative;
  top: -12px;
  left: 25px;
  font-size: 140px;
  color: #fff;
}

.catalog {
  display: flex;
  justify-content: center;
  position: relative;
  transition-duration: 0.3s;
}
.catalog:hover {
  transform: scale(1.05);
}

.catalog img {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 0;
  position: relative;
}

main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

footer {
  position: relative;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  padding: 24px ;
}
footer img {
  height: 32px;
}
footer a {
  text-decoration: none;
  color: #79b8f3;
}
footer li {
  color: #8197a4;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}


@media screen and (min-width: 1800px) {
  .grade {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 1710px) {
  .grade {
   transform: scale(0.99);
   gap: 30px;
 }
 .top5 {
  transform: scale(0.89)
 }
}


@media screen and (max-width: 1400px) {
  .grade {
    transform: scale(0.87);
    gap: 30px;
  }
  .catalogExtra {
    display: none;
  }

  .groupExtra {
    display: none;
  }

  .topAlter h1::after {
    content: "Top 4 hoje";
  }
  .top5 {
    transform: scale(0.86);
  }
 
}