* {
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #01050d;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 300px;
  z-index: 100;
}
header .logo img {
  max-width: 150px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  text-decoration: none;
  color: #aaa;
  font-size: 18;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: white;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  padding: 0 10px;
}

footer img {
  height: 32px;
}

footer {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 10px;
  display: inline-block;
  font-size: 15px;
  padding: 24px;
}

footer a {
  text-decoration: none;
  color: #79b8f3;
}
footer li {
  color: #8197a4;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
