* {
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", sans-serif;
  box-sizing: border-box;
}

i {
  color: #aaa;
}
body {
  font-family: "Amazon Embrier", sans-serif;
  background-color: rgba(1, 5, 13, 1);
}
header {
  background-color: #01050d;
  background-color: rgba(1, 5, 13, 0.8);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 100;
  backdrop-filter: blur(3px);
  margin-top: 0.5%;
  margin-left: 15%;
  border-radius: 19px;
}

header .logo img {
  max-width: 130px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 10px;
}

.navigation li a {
  text-decoration: none;
  color: #aaa;
  font-size: 18;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation li:hover a {
  color: white;
}

.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

.search .bi-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 50px;
}

.banner-Tb {
  background-image: url(../assets/banner/TheBoys.jpg);
  background-size: cover;
  width: 100%;
  height: 750px;
  object-fit: cover;
  margin-top: 90px;
}
.content-Tb {
  display: flex;
  height: 850px;
  position: relative;
  top: 70px;
  margin-left: 85px;
  flex-flow: column nowrap;
  max-width: 1000px;
}
.gradient-Tb {
  background: rgb(1, 5, 13);
  background: linear-gradient(
      90deg,
      rgba(1, 5, 13, 1) 0%,
      rgba(210, 210, 210, 0) 90%
    ),
    linear-gradient(0deg, rgba(1, 5, 13, 1) 13%, rgba(210, 210, 210, 0) 90%);
}

.content-Tb img {
  position: relative;
  z-index: 1;
  max-width: 550px;
  margin-bottom: 20px;
}
.content-Tb .movieTitle {
  max-width: 250px;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: white;
}
h3 {
  margin-bottom: 20px;
  color: rgb(231, 224, 224);
  letter-spacing: 7px;
}
.content-Tb p {
  color: #ffffff;
  font-family: "Amazon Ember", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: justify;
}
.info p {
  position: relative;
  margin-top: 12px;
  color: #999999;
}

#categoria button {
  border: none;
}
#categoria {
  font-size: 18px;
  background: #33373d;
  color: #ffffff;
  font-weight: 500;
  padding: 3px 5px;
  margin-top: 3px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

.butter {
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-top: 12px;
}
.estilo {
  color: #ffffff;
  background: #33373d;
  font-size: 13px;
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 6px;
}

.content-Tb a {
  text-decoration: none;
  background: #33373d;
  color: white;
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: center;
  padding-top: 8px;
}
.bi-play-circle-fill {
  font-size: 75px;
  color: #fff;
  /* left: 100px;
  top: -120px; */
  transition: 0.5s;
}

.bi-play-circle-fill:hover {
  color: #999999;
}

.trailer .bi-film {
  position: relative;
  top: 20px;
  font-size: 40px;
  color: #fff;
  /* left: 150px;
  top: -100px; */
  transition: 0.5s;
}

.trailer .bi-film:hover {
  color: #999999;
}

.bi-hand-thumbs-up-fill {
  position: relative;
  top: 20px;
  font-size: 40px;
  color: #fff;
  position: relative;
  /* left: 165px;
  top: -100px; */
  transition: 0.5s;
}
.bi-hand-thumbs-up-fill:active {
  color: #999999;
}
.trailer {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 700px;
  left: 85px;
}

.bi-chat-left-text-fill {
  color: #ffffff;
}
.grupo a {
  text-decoration: none;
}
.grupo span {
  text-align: center;
  color: #ffffff;
  display: block;
}
#trailer {
  position: relative;
  top: 20px;
  left: -4px;
}

.comentario {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 60px;
}
.comentario span {
  color: #999999;
  position: relative;
  left: 950px;
  bottom: 22px;
  width: 300px;
}

.comentario h2 {
  color: #ffffff;
  margin-left: 85px;
  font-weight: 300;
}

.comentario textarea {
  color: #ffffff;
  background: rgba(16, 20, 27, 0.8);
  border-style: none;
  resize: none;
  width: 45%;
  height: 100px;
  position: relative;
  left: 85px;
  top: 10px;
  padding: 10px;
}

.comentario button {
  background: rgba(16, 20, 27, 0.8);
  color: #999999;
  border-style: none;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  position: relative;
  top: 30px;
  left: 85px;
  padding: 3px;
  text-decoration: none;
}

footer {
  position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  bottom: 10px;
  display: inline-block;
  font-size: 15px;
  padding: 24px;
}

footer img {
  height: 32px;
}

footer a {
  text-decoration: none;
  color: #79b8f3;
}

footer li {
  color: #8197a4;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
