.filmes { display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
    gap: 35px 15px;
    margin: 50px 8%
}
.catalog img { width: 300px;
    border-radius: 4px;
}
.filmes-text { color: white;
    overflow: hidden;
}
.area { text-decoration: none
}
