#area-filmes { padding: 5% }
.filmes {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(32%, 50%))
}
.catalog img { width: 100% }
.filmes-text {
    color: white;
    padding: 2% 0%
}
.area { text-decoration: none }
