* {
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(1, 5, 13, 1);
  }
  
  header {
    /* background-color: #01050d; */
    background-color: rgba(1, 5, 13, 0.8);
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 100;
    backdrop-filter: blur(3px);
    margin-top: 0.5%;
    margin-left: 15%;
    border-radius: 19px;
  }
  header .logo img {
    max-width: 130px;
  }
  
  .navigation {
    display: flex;
  }
  
  .navigation li {
    list-style: none;
    margin: 0 10px;
  }
  
  .navigation li a {
    text-decoration: none;
    color: #aaa;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .navigation li:hover a {
    color: white;
  }
  
  .search {
    position: relative;
    width: 300px;
    height: 40px;
  }
  
  .search input {
    color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
  }
  .search .bi-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 50px;
  }

.filmes { display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
    justify-items: center;
    gap: 35px 15px;
    margin: 50px ;
}
.catalog img { width: 300px;
    border-radius: 4px;
}
.filmes-text { color: white;
    overflow: hidden;
}
.area { text-decoration: none
}
h1 {
  color: white;
  margin-top: 40px;
  padding: 60px 0px 0px 60px;
}
footer {
    position: relative;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 15px;
    padding: 24px 24px 10px 24px;
    bottom: 20px;
  }
  footer img {
    height: 32px;
  }
  footer a {
    text-decoration: none;
    color: #79b8f3;
  }
  footer li {
    color: #8197a4;
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }